@media screen and (max-width: 995px) {

    .stat{
        display: block;
        align-items:center
    }
    .statitem{
        border-left: 0;
        border: 1px, solid white;
    }
    .statitem:last-child {
        border-right: 0;
    }

    .cntvideo{
        display: block;
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {


    .cntvideo iframe {
            position: relative;
            width: 200px;
            height: 170px;
    }

}